body {
  display: flex;
  flex-direction: row;
  background-color: #121212;
  color: #FFFFFF;
}

button {
  background-color: #6200EE;
  border: 1px solid black;
  border-radius: 10px;
  color: #FFFFFF;
}

.main {
  margin: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menuAndTitleDiv {
  height: 80vh;
  width: 25%;
  background-color: rgba(255,255,255,0.05);
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 15px 30px rgb(0 0 0 / 15%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.appTitle {
  padding: 5px;
  font-weight: bold;
}

.sidebarDiv {
  width: 90%;
  height: 10%;
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(255,255,255,0.07);
  box-shadow: 0px 5px 10px #121212;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.header {
  width: 100%;
  height: 15%;
}

.formModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.95);
  gap: 5px;
}

.closeModal {
  float: right;
  background-color: #EF9A9A;
  color: black;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}

.formModal h2 {
  background-color: #121212;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  width: 95%;
  font-size: 30px;
  border: 1px solid gray;
}

form {
  font-size: 25px;
  height: fit-content;
  overflow-y: scroll;
  width: 95%;
  border-radius: 5px;
  background-color: #121212;
  padding: 5px;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}

form #submitButtonTask {
  font-weight: bold;
}

.formContainerOne, .formContainerTwo {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  gap: 6px;
}

.inputTaskChecklistDiv {
  overflow: scroll;
  height: 20vh;
  display: flex;
  flex-direction: column;
}

.inputTaskChecklistDiv button {
  background-color: #CE93D8;
  color: black;
}

input, textarea {
  background-color: rgba(255,255,255,0.05);
  border: 1px solid gray;
  border-radius: 5px;
  color: white;
}

.header {
  height: fit-content;
  padding: 1vw;
  background-color: rgba(255,255,255,0.05);
  border-radius: 7px;
}

.headerText {
  text-align: center;
}

.taskDiv {
  border: 2px solid gray;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.07);
  margin: 1vh;
}

.projectSection {
  background-color: rgba(255,255,255,0.05);
  margin: 2vh;
  padding: 1vw;
  border-radius: 7px;
}

.countdownDiv {
  border: 1px solid red;
  border-radius: 5px;
}

.taskContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.taskDiv button {
  background-color: #A5D6A7;
  color: black;
}