::-webkit-scrollbar {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #6200EE;
}

@font-face {
  font-family: 'Cinzel-Black';
  src: url('../fonts/Cinzel-Black.ttf');
}

@font-face {
  font-family: 'Merriweather-Sans';
  src: url(../fonts/MerriweatherSans-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: 'Kalam';
  src: url(../fonts/Kalam-Regular.ttf);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
  color: #FFFFFF;
  overflow-x: hidden;
}

button {
  background-color: #6200EE;
  border: 1px solid black;
  border-radius: 10px;
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 3px;
  cursor: pointer;
}

.main {
  margin: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuAndTitleDiv {
  margin-top: 5px;
  padding-bottom: 5px;
  width: 95%;
  background-color: rgba(255,255,255,0.05);
  border-radius: 10px;
  box-shadow: 0px 15px 30px rgb(0 0 0 / 15%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.appTitle {
  padding: 5px;
  font-weight: bold;
}

.addProjectButton {
  font-size: 20px;
}

.sidebarMain {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 24px;
}

.newProjectSidebar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  background-color: rgba(255,255,255,0.07);
  width: 95%;
  padding: 5px;
  border-radius: 5px;
  
}

.newProjectSidebar div {
  border: 1px solid black;
  flex-wrap: wrap;
  width: fit-content;
  max-width: 50%;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: #37474F;
  box-shadow: 0px 5px 10px #121212;
  font-size: 20px;
}

.newProjectSidebar div:active {
  background-color: #263238;
  box-shadow: 0px 15px 20px #121212;
}

.sidebarDiv {
  width: 90%;
  height: 10%;
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(255,255,255,0.07);
  box-shadow: 0px 5px 10px #121212;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.selected {
  background-color: rgba(255,255,255,0.12);
  border: 2px solid white;
}

.header {
  width: 95%;
  height: 15%;
}

.formModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.95);
  gap: 5px;
}

.closeModal {
  float: right;
  background-color: #EF9A9A;
  color: black;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}

.formModal h2 {
  background-color: #121212;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  width: 95%;
  font-size: 30px;
  border: 1px solid gray;
}

form {
  font-size: 25px;
  height: fit-content;
  width: 95%;
  border-radius: 5px;
  background-color: #121212;
  padding: 5px;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}

form #submitButtonTask {
  font-weight: bold;
}

form button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.formContainerOne, .formContainerTwo {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  gap: 6px;
}

.inputTaskChecklistDiv {
  overflow-y: scroll;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputTaskChecklistDiv div {
  display: flex;
}

.inputTaskChecklistDiv button {
  background-color: #CE93D8;
  color: black;
}

.inputTaskChecklistDiv button:hover {
  background-color: #F06292;
}

input, textarea {
  background-color: rgba(255,255,255,0.05);
  border: 1px solid gray;
  border-radius: 5px;
  color: white;
}

.header {
  height: fit-content;
  padding: 1vw;
  background-color: rgba(255,255,255,0.05);
  border-radius: 7px;
}

.headerText {
  text-align: center;
  font-family: 'Cinzel-Black', sans-serif;
}

.taskDiv {
  border: 1px solid gray;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.07);
  margin: 1vh;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.taskDiv h3 {
  font-family: "Kalam", sans-serif;
  font-size: 25px;
  text-align: center;
}

.taskDiv div, .taskDiv p{
  font-size: 20px;
  text-align: center;
}

.taskDiv .checklistDiv {
  background-color: rgba(255,255,255,0.08);
  padding: 2px;
  border-radius: 4px;
}

.taskDiv .taskDueDate {
  background-color: rgba(255,255,255,0.08);
  padding: 2px;
  border-radius: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.taskDiv .taskPriority {
  background-color: rgba(255,255,255,0.08);
  padding: 2px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.taskDiv .taskPriority.High {
  border: 1px solid red;
}

.taskDiv .taskPriority.Medium {
  border: 1px solid yellow;
}

.taskDiv .taskPriority.Low {
  border: 1px solid white;
}

.taskDiv .checklistDiv .checkboxDiv {
  background-color: rgba(255,255,255,0.09);
  margin: 3px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px
}

.taskDiv .checklistDiv p {
  color:#F5F5F5;
}

.taskDiv .taskDesc {
  opacity: 0.85;
}

.taskButtonContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
}

.taskButtonContainer button:hover {
  background-color: #00BFA5;
  cursor: pointer;
}

.taskButtonContainer button.deleteTask:hover {
  background-color: #E53935;
}

.projectSection {
  background-color: rgba(255,255,255,0.05);
  margin: 2vh;
  padding: 1vw;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.projectSection .projectDesc {
  background-color: rgba(255,255,255,0.07);
  width: 95%;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}

.projectSection h2 {
  font-family: 'Merriweather-Sans', sans-serif;
  text-align: center;
  font-size: 30px;
}

.projectSection.complete {
  border: 2px solid #A5D6A7;
  opacity: 0.9;
  background-color: rgba(168, 255, 235, 0.3);
}

.projectButtonContainer {
  margin: 0 auto;
}

.projectButtonContainer button {
  font-size: 20px;
}

.projectButtonContainer button:hover {
  background-color: #3D00E0;
}

.projectButtonContainer button.deleteProjectButton:hover {
  background-color: #E53935;
}

.countdownDiv {
  padding: 4px;
  background-color: rgba(255,255,255,0.09);
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.countdownDiv div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.countdownDiv div .durationContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 25%; 
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(255,255,255,0.11);
}

.taskContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.taskContainer.complete {
  pointer-events: none;
}

.taskDiv button {
  background-color: #00796B;
  padding: 4px;
  width: 20%;
}

.taskDiv button img {
  margin: 0 auto;
}

.addTaskInProject.complete {
  pointer-events: none;
  opacity: 0.6;
}

.completeProjectButton.complete {
  background-color:#00C853;
  color: black;
}

.taskDiv .updateTask.complete {
  pointer-events: none;
  opacity: 0.6;
}

.taskDiv .countdownTaskButton.complete {
  pointer-events: none;
  opacity: 0.6;
}

.taskDiv .countdownTaskButton.clicked {
  border: 2px solid white;
} 

.taskDiv .checklistDiv.complete {
  pointer-events: none;
}

.taskDiv.complete {
  border: 2px solid #00E676;
  background-color: rgb(0, 230, 118, 0.2);
}

.taskDiv .taskComplete.complete {
  border: 2px solid white;
}

.sidebarDiv:hover {
  background-color: rgba(255,255,255,0.11);
  cursor: pointer;
}

.addProjectButton:hover {
  background-color: #3D00E0;
}

.newProjectSidebar div:hover {
  cursor: pointer;
  background-color: #455A64;
}

.formModal span:hover {
  cursor: pointer;
  background-color: #F44336;
}

form #submitButtonTask:hover, form #submitButtonProject:hover {
  background-color: #3D00E0;
}

input:disabled {
  opacity: 0.5;
  border: 1px solid red;
}

@media only screen and (min-width: 768px) {
  body {
    flex-direction: row;
    align-items: flex-start;
  }
  .menuAndTitleDiv {
    width: 25%;
    margin-left: 5px;
    font-size: 20px;
  }
  .sidebarMain {
    flex-direction: column;
    align-items: center;
    width: 95%;
    font-size: 17px;
  }
  .addProjectButton {
    font-size: 17px;
  }
  .newProjectSidebar {
    flex-direction: column;
  }
  .newProjectSidebar div {
    width: 100%;
    max-width: none;
    padding: 3px;
    font-size: 17px;
  }
  form {
    width: 45%;
    font-size: 17px;
  }
  .formModal h2 {
    width: 45%;
    font-size: 20px;
  }
  .main {
    justify-content: baseline;
    align-items: flex-start;
  }
  .main .header {
    margin-left: 2vh;
  }
  .main .projectSection {
    width: fit-content;
  }
  .projectButtonContainer button {
    font-size: 17px;
  }
  .taskContainer {
    align-items: baseline;
  }
  .taskDiv {
    min-height: 28vh;
    height: fit-content;
    width: fit-content;
    min-width: 15vw;
  }
  .taskDiv h3 {
    font-size: 20px;
  }
  .taskDiv div, .taskDiv p {
    font-size: 17px;
  }
}